*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif; 
}

html{
    height: 100%;
    overflow: hidden; 
}
body{
    height: 100%;
    overflow: hidden;
    background:#1A1A1A;
}

.all-content{
    background:#1A1A1A;
    height:100%;
    font-family: "Lexend", sans-serif;
    position:relative;
}
.galeria-zdjec{
    height:100vh;
    width:100vw;
    position:relative;
}
.galeria-zdjec div{
    position:absolute;
    border:1px solid red;
}
.zdjecie-poziomex3left{
    width:250px;
    height:150px;
}
.zdjecie-poziomex3left.no1{
    top:32px;
    left:20px;
}
.zdjecie-poziomex3left.no2{
    top:214px;
    left:50%;
    transform: translateX(-50%);
}
.zdjecie-poziomex3left.no3{
    top:396px;
    right:20px;
}
.podziekowania{
    position:relative;
}
.ustka{
    position:relative;
    width:100vw;
    height:100%;
    background: #1a1a1a;
    padding-top:36px;
}
.ustka h5{
    position:absolute;
    top:85px;
    right:0px;
    transform:rotate(90deg);
    font-weight:400;
    font-size:24px;
    letter-spacing:2px;
}
.ustka article{
    text-align:center;
    color:#fff;
    font-size:18px;
    padding:0px 25px;
    margin:24px 0px 16px;
}
.zdjecie-con{
    width:250px;
    height:150px;
    border:1px solid red;
    margin:0 auto;
}
.zdjecie-con1{
    width:230px;
    height:140px;
    border:1px solid red;
    margin:0 auto;
}
.nawigacja{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:68px;
    border-top:1px solid white
}