/*  
    font-family: "Ribeye Marrow", serif;
    font-family: "Lexend", sans-serif; 
*/
/*  
    color:#A40106;
    color:#B59903;
    color:#0252FF;
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.all-content{
    background:#1A1A1A;
    height:100%;
    font-family: "Lexend", sans-serif; 
}

.nawigacja{
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    padding:25px 0px;
    background:#1A1A1A;
    z-index:99 !important;
    display:flex;
    justify-content: center;
}
.przycisk{
    border-radius:100%;
    border:2px solid #FF3F45;
    width:fit-content;
    height:fit-content;
    display:flex;
    align-items: center;
}


.front-page{
    height:100vh;
}

.wszystkiego-najlepszego-all{
    padding-top:40px;
}
.wszystkiego-najlepszego-div-line{
    width:100%;
    text-align: center;
    position:relative;
    margin-top:1px;
    height:fit-content;
}
.wszystkiego-najlepszego-div-line h3{
    font-family: "Ribeye Marrow", serif;
    font-size:36px;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);
    color:#FF3F45;
    z-index:99;
    position:relative;
    font-weight:400;
    letter-spacing:2px;
}
.wszystkiego-najlepszego-div-line h2{
    font-family: "Ribeye Marrow", serif;
    font-size:48px;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);
    color:#FF3F45;
    z-index:99;
    position:relative;
    font-weight:400;
    letter-spacing:2px;
}

.wszystkiego-najlepszego-ornament{
    position:absolute;
    width: 100%;
    height:15px;
    background:#430002;
    left:0;
    z-index:0 !important;
}
.wszystkiego-najlepszego-div-line:nth-child(1) > .wszystkiego-najlepszego-ornament{
    bottom:8px;
}
.wszystkiego-najlepszego-div-line:nth-child(2) > .wszystkiego-najlepszego-ornament{
    top:8px;
}
.wszystkiego-najlepszego-div-line:nth-child(3) > .wszystkiego-najlepszego-ornament{
    bottom:8px;
}
.wszystkiego-najlepszego-div-line:nth-child(4) > .wszystkiego-najlepszego-ornament{
    top:50%;
    transform: translateY(-50%)
}

.prezent{
    position:relative;
    padding-top:100px;
}
.button-prezent{
    border: 4px solid #FF3F45;
    padding:24px 48px;
    width:fit-content;
    color:#fff;
    font-family: "Lexend", sans-serif; 
    font-size:20px;
    text-align: center;
    margin:0 auto;
}

.pare-slow{
    height:100vh;
    padding-top:32px;
    position:relative;
}
.pare-slow h4{
    color:#FF3F45;
    font-size:24px;
    text-align: center;
    z-index:2 !important;
    position:relative;
    font-weight: 400;
    
}
.pare-slow .youtube{
    width:270px;
    height:140px;
    margin:200px auto 0px;
    border:1px solid red;
    z-index:2 !important;
    position:relative;
}
.ozdoba{
    width:15px;
    height:100%;
    background:#430002;
    top:0;
    left:50%;
    position:absolute;
    z-index:1;
    transform: translateX(-50%);
}
.reszta-zyczen{
    height:100vh;
    display:flex;
    flex-direction: row;
}
.glowne-zyczenia{
    height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.glowne-zyczenia article{
    padding:0px 25px;
    display:inline;
    text-align:center;
    font-size:18px;
    color:#fff;
}
.glowne-zyczenia article p{
    
    color:#FF3F45;
    font-size:18px;
}

.dodatkowe-zyczenia{
    width:100vw;
    height:100vh;
    margin-right:-100%;
    background:#1A1A1A;
    padding-top:32px;
}
.zdjecie-con{
    width:230px;
    height:140px;
}
.zdjecie-con img{
    width:100%;
    height:100%;
}
.dodatkowe-zyczenia h4{
    text-align:center;
    font-size:18px;
    color:#fff;
}
.dodatkowe-zyczenia article{
    text-align:center;
    font-size:18px;
    color:#fff;
    margin-top:32px;
    margin-bottom:32px;
}
.dodatkowe-zyczenia article p{
    font-size:18px;
    display:inline;
}
p.blue{
    color:#0252FF;
}
p.yellow{
    color:#B59903;
}
p.red{
    color:#FF3F45;
}
h5.yellow{
    color:#B59903;
}
.dodatkowe-zyczenia article:nth-child(4){
    margin-top:16px;
    margin-bottom:16px;
}
.dodatkowe-zyczenia article:nth-child(4){
    margin-top:16px;
}
.zdjecie-con{
    margin:0 auto;
}

.podziekowania{

}

.pierwsze{
    display:flex;
    flex-direction: row;
    height:100vh;
    width:100vw;
}

.wyjazdy-main{
    padding-top:48px;
    width:100vw;
    height:100vh;
}
.wyjazdy-main h5{
    font-size:24px;
    color:#FF3F45;
    text-align:center;
    font-weight:400;
    width:80%;
    margin:0 auto;
}
.wyjazdy-main article{
    font-size:18px;
    color: #fff;
    text-align:center;
    margin-top:100px;
    padding:0px 25px;
}
.wyjazdy-main article p{
    display:inline;
    font-size:18px;
}
.pobierowo{
    position:relative;
    width:100vw;
    height:100vh;
    margin-right:-100%;
    background: #1a1a1a;
    padding-top:36px;
}
.pobierowo h5{
    position:absolute;
    top:85px;
    left:-25px;
    transform:rotate(90deg);
    font-weight:400;
    font-size:24px;
    letter-spacing:2px;
}
.pobierowo article{
    text-align:center;
    color:#fff;
    font-size:18px;
    padding:0px 25px;
    margin:24px 0px 16px;
}
.pobierowo article p{
    display:inline;
    font-size:18px;
}
.ustka{
    position:relative;
    width:100vw;
    height:100vh;
    margin-right:-100%;
    background: #1a1a1a;
    padding-top:36px;
}
.ustka h5{
    position:absolute;
    top:85px;
    right:0px;
    transform:rotate(90deg);
    font-weight:400;
    font-size:24px;
    letter-spacing:2px;
}
.ustka article{
    text-align:center;
    color:#fff;
    font-size:18px;
    padding:0px 25px;
    margin:24px 0px 16px;
}

.jezioro{
    position:relative;
    width:100vw;
    height:100vh;
    margin-right:-100%;
    background: #1a1a1a;
    padding-top:36px;
}
.jezioro h5{
    font-weight:400;
    font-size:24px;
    letter-spacing:2px;
    text-align: center;
    margin-bottom:24px;
}
.jezioro article{
    text-align:center;
    color:#fff;
    font-size:18px;
    padding:0px 25px;
    margin:24px 0px 16px;
}
.jezioro article p{
    display:inline;
    font-size:18px;
}
.warszawa{
    position:relative;
    width:100vw;
    height:100vh;
    margin-right:-100%;
    background: #1a1a1a;
    padding-top:36px;
}
.warszawa h5{
    font-weight:400;
    font-size:24px;
    letter-spacing:2px;
    text-align: center;
    margin-bottom:24px;
}
.warszawa article{
    text-align:center;
    color:#fff;
    font-size:18px;
    padding:0px 25px;
    margin:24px 0px 16px;
}
.warszawa .zdjecie-con{
    width:280px;
    height:160px;
}